	.message {
		flex: 1;
	}

	/* CSS talk bubble */
	.talk-bubble {
		// width: 200px;
		margin: 40px;
		display: inline-block;
		position: relative;
		width: auto;
		height: auto;
		background-color: lightyellow;
	}

	.border {
		border: 8px solid #666;
	}

	.round {
		border-radius: 30px;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
	}

	/* talk bubble contents */
	.talktext {
		padding: 1em;
		text-align: left;
		line-height: 1.5em;
	}

	.talktext p {
		/* remove webkit p margins */
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
	}